<!-- <select style="margin-top: 20%;">
    <option  *ngFor="let i of data.recordset;">{{ i["PoliKey"] }}</option>
</select> -->
<div style="margin-top: 10%;">
    <!-- <table>
        <tr>
            <th>
                Policy Key
            </th>
        </tr>
        <td>
    <li *ngFor="let i of data.recordset;">
        <b>Policy Key : {{ i["PoliKey"] }}</b>
    </li>
        </td>
    </table> -->
    <li *ngFor="let i of data.recordset;">
        <b>Policy Key : {{ i["PoliKey"] }}</b>
    </li>
</div>
